{% extends "base.html" %}
    {% block navbar %}
        <a href="{{ url_for('app_bp.index') }}" class="btn btn-light">Home</a>
    {% endblock %}
    {% block body %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ file_upload_form.hidden_tag() }}
            <div class="form-group col-6">
                {{ file_upload_form.problem_selection.label }}
                {{ file_upload_form.problem_selection(class="form-control") }}
            </div>
            <div class="form-group col-6">
                {{ file_upload_form.file_upload.label }}
                {{ file_upload_form.file_upload(class="form-control") }}
            </div>
            <div class="form-group col-6">
                <button class="form-control btn btn-light">
                    <span class="oi oi-cloud-upload" /span>
                    Create Solution
                </button>
                {% with category="warning" %}
                    {% include "message_flasher.html" %}
                {% endwith %}
                {% with category="success" %}
                    {% include "message_flasher.html" %}
                {% endwith %}
            </div>
        </form>
    {% endblock %}
