{% extends "base.html" %}

{% block navbar %}
    {% if authenticated != True %}
        <form action="" method="post">
            <div class="form-row">
                {{ login_form.hidden_tag() }}
                <div class="col-4">
                    {{ login_form.username(class="form-control") }}
                </div>
                <div class="col-4">
                    {{ login_form.password(class="form-control") }}
                </div>
                <div class="col-4">
                    {{ login_form.submit(class="form-control btn btn-light") }}
                </div>
                {% with category="danger" %}
                    {% include "message_flasher.html" %}
                {% endwith %}
            </div>
        </form>
    {% else %}
        <div class="btn-group">
            <a href="{{ url_for('app_bp.logout') }}" class="btn btn-light">Logout</a>
            <a href="{{ url_for('app_bp.create_solution') }}" class="btn btn-light">Create Solution</a>
            <a href="{{ url_for('app_bp.update_solution') }}" class="btn btn-light">Update Solution</a>
            <a href="{{ url_for('app_bp.delete_solution') }}" class="btn btn-light">Delete Solution</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}

    <h1>Please click on a problem to see its solution, or specify a problem by its number</h1>

    <form action="" method="post">
        <div class="form-group row">
            {{ problem_selection_form.hidden_tag() }}
            <div class="col-2">
                {{ problem_selection_form.problem_selection(class="form-control") }}
            </div>
            <div class="col-2">
               {{ problem_selection_form.submit(class="form-control btn btn-light") }}
            </div>
            {% with category="warning" %}
                {% include "message_flasher.html" %}
            {% endwith %}
        </div>
    </form>

    <img id="main_image" src="{{ url_for('static', filename='images/maths.jpg') }}">

    <table id="links_table">
        {% for node in problem_solutions %}
            {% if node is none %}
                <tr class="blank_row"></tr>
            {% else %}
                <tr>
                    <td>
                        <a href="problem{{ node.problem_id }}" class="solution_link">Problem{{ node.problem_id }}</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <div class="table_arrows">
        <a href="{% if prev_url %}{{ prev_url }}{% else %}#{% endif %}">&lt&lt&lt</a>
        |
        <a href="{% if next_url %}{{ next_url }}{% else %}#{% endif %}">&gt&gt&gt</a>
    </div>

{% endblock %}
