{% extends "base.html" %}
    {% block body %}

        <h1>Please click on a problem to see its solution (or specify a problem
            by its number):</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>{{ form.problem_selection() }}</p>
            <p>{{ form.submit() }}</p>
        </form>

        <img id="main_image" src="{{ url_for('static', filename='images/maths.jpg') }}">

        <table id="links_table">
            {% for node in problem_solutions %}
                {% if node is none %}
                    <tr class="blank_row"></tr>
                {% else %}
                    <tr><td><a href="problem{{ node.id }}" class="solution_link">Problem{{ node.id }}</a></td></tr>
                {% endif %}
            {% endfor %}
        </table>

        <div class="table_arrows">
            <a href="{% if prev_url %}{{ prev_url }}{% else %}"#"{% endif %}">&lt&lt&lt</a>
            |
            <a href="{% if next_url %}{{ next_url }}{% else %}"#"{% endif %}">&gt&gt&gt</a>
        </div>

    {% endblock %}
